<?php
/**
 * @var Example\SizeGuide\Block\Product\SizeGuide $block
 * @var Example\SizeGuide\Model\Measure $measure
 * @var $blockConfigurable \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable
 * @var \Magento\Catalog\Model\Product $product
 */

$product = $block->getProduct();

$sizeGuide = $block->getSizeGuide();

$sizeTable = $block->getSizeTable();
$measureTable = $block->getMeasureTable();

$measures = $block->getMeasures();

$blockConfigurable = $this->getLayout()
    ->createBlock('Magento\ConfigurableProduct\Block\Product\View\Type\Configurable');

$blockRenderer = $this->getLayout()
    ->createBlock('\Example\ProductPage\Block\Product\Renderer\Configurable');

$_attributes = $blockConfigurable->decorateArray($blockConfigurable->getAllowAttributes());

$gallery = $this->getLayout()
    ->createBlock('Magento\Catalog\Block\Product\View\Gallery')->getGalleryImages();

$finalPrice = $product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
$oldPrice = $product->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue();
$buttonTitle = __('Add To Cart');
?>
<?php if($sizeGuide && $sizeGuide->getId() && $sizeGuide->getIsActive()): ?>

<div class="product-detail-infomation">

    <h3 class="size-guide-title">
        <span>SIZE AND FIT GUIDE</span>
    </h3>

    <!--IMAGEM DE PRODUTO-->
    <div class="modalSizeGuide" id="modalSizeGuide">
        <?php
        $i = 1;
        ?>
        <div class="productImg">
            <ul>
            <?php foreach($gallery as $image): ?>
            <?php if($i <= 3): ?>
                <li class="loading">
                    <img src="<?php echo $image->getData('large_image_url'); ?>" class="imgProduct <?php echo $image->getData('name'); ?>">
                </li>
            <?php endif; ?>
            <?php $i++; endforeach; ?>
            </ul>
        </div>

        <!--DESCRICAO, TITULO E PRECO-->
        <div class="descriptionSize">
            <div class="product-info-main">
                <?php echo $this->getLayout()->createBlock("Magento\Catalog\Block\Product\View")->setTemplate("product/view/name.phtml")->toHtml();?>
                <div class="text-center">
                    R$ <?php echo $finalPrice;?>
                </div>
                <div class="text-center">
                </div>
                <div class="text-justify">
                    <?php echo $product->getDescription() ?>
                </div>
            </div>
        </div>

        <!--BOTOES DE ATRIBUTO -->
        <div class="product-options-wrapper">
            <form data-product-sku="<?php echo $block->escapeHtml($product->getSku()) ?>"
              action="<?php echo $block->escapeHtml($blockConfigurable->getSubmitUrl($product)) ?>" method="post"
              id="product_addtocart_form"<?php if ($product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $product->getId() ?>" />
                <input type="hidden" name="selected_configurable_option" value="" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
                <?php echo $blockConfigurable->getBlockHtml('formkey')?>
                <?php echo $blockConfigurable->getChildHtml('form_top'); ?>

                <div class="row buttons">
                    <?php if ($product->isSaleable() && count($_attributes)):?>
                        <?php foreach ($_attributes as $_attribute): ?>
                            <div class="field configurable required">
                                <label class="label" for="attribute<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>">
                                    <span><?php echo $block->escapeHtml($_attribute->getProductAttribute()->getStoreLabel()) ?></span>
                                </label>
                                <div class="control">
                                    <select name="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]"
                                            data-selector="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]"
                                            data-validate="{required:true}"
                                            id="attribute<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>"
                                            class="super-attribute-select">
                                        <option value=""><?php /* @escapeNotVerified */ echo __('Choose an Option...') ?></option>
                                    </select>
                                </div>
                            </div>
                        <?php endforeach; ?>
                        <div class="field configurable required">
                            <button type="submit"
                                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                                    class="action primary tocart"
                                    id="product-addtocart-button">
                                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                            </button>
                        </div>
                        <script type="text/x-magento-init">
                            {
                                "#product_addtocart_form": {
                                    "configurable": {
                                        "spConfig": <?php /* @escapeNotVerified */ echo $blockRenderer->getJsonConfig() ?>,
                                        "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
                                            'Magento_ConfigurableProduct') ?: 'replace'; ?>"
                                    }
                                }
                            }
                        </script>
                    <?php endif;?>
                </div>
            </form>
        </div>
        <script type="text/x-magento-init">
            {
                "#product_addtocart_form": {
                    "Magento_Catalog/product/view/validation": {
                        "radioCheckboxClosest": ".nested"
                    }
                }
            }
        </script>
        <?php if (!$blockConfigurable->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
            {
                "#product_addtocart_form": {
                    "catalogAddToCart": {
                        "bindSubmit": false
                    }
                }
            }
        </script>
        <?php endif; ?>



        <!--SIZEGUIDE MODAL INICIO -->

        <div id="sizeGuideModal" class="reveal-modal size-guide">
            <div class="sizeBorder"></div>
            <h3 class="size-guide-heading">
                <span><?php echo __('Size Guide'); ?></span>
            </h3>

            <div class="size-guide product-description"></div>

            <?php if($sizeTable): ?>
                <div class="size-guide size-conversion">
                    <h4 class="size-guide-sub-heading">
                        <?php echo __('Size Guide'); ?>
                    </h4>
                    <p class="size-guide-type">
                        <?php echo $sizeGuide->getName(); ?>
                    </p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <?php foreach ($sizeTable['columns'] as $column): ?>
                                    <th><?php echo $column['title']; ?></th>
                                <?php endforeach; ?>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($sizeTable['rows'] as $row): ?>
                                <tr>
                                    <?php foreach ($row as $item): ?>
                                        <td><?php echo $item['value']; ?></td>
                                    <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php endif; ?>

            <?php if($measureTable): ?>
                <div class="size-guide product-measurements">
                    <div class="sizeBorder"></div>
                    <h4 class="size-guide-sub-heading">
                        <?php echo __('Product Measurements'); ?>
                    </h4>
                    <p class="size-guide-type">
                        <?php echo __('We have provided this product\'s measurements to help you decide which size to buy'); ?>
                    </p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <?php foreach ($measureTable['columns'] as $column): ?>
                                    <th><?php echo $column['title']; ?></th>
                                <?php endforeach; ?>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($measureTable['rows'] as $row): ?>
                                <tr>
                                    <?php foreach ($row as $item): ?>
                                        <td><?php echo $item['value']; ?></td>
                                    <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php endif; ?>

            <?php if($measures && $measures->count() > 0): ?>
                <div class="size-guide measuring-guide">
                    <div class="sizeBorder"></div>
                    <h4 class="size-guide-sub-heading">
                        <?php echo __('Measuring Guide'); ?>
                    </h4>
                    <p class="size-guide-type">
                        <?php echo __('A step by step guide on how to find your perfect size'); ?>
                    </p>

                    <div class="row col-sm-6 measuring-guide-measures">
                        <?php foreach ($measures as $measure): ?>
                            <div class="media" data-measure-id="<?php echo $measure->getId(); ?>">
                                <?php if ($measure->getImage()): ?>
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object" src="<?php echo $measure->getImageUrl(); ?>" alt="<?php echo $measure->getName(); ?>">
                                        </a>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php endforeach; ?>
                    </div>
                    <div class="row measuring-guide-measures2 product-data-items-content">
                        <?php foreach ($measures as $measure): ?>
                            <div class="col-sm-6">
                                <div class="media-body">
                                    <a data-measure-id="<?php echo $measure->getId(); ?>" class="sg__measuring-guide__title">
                                        <h3><?php echo $measure->getName(); ?></h3>
                                    </a>
                                    <div class="data item content" id="attributedescription" data-role="content"
                                         aria-labelledby="tab-label-attributedescription" role="tabpanel" aria-hidden="false">
                                        <div class="value">
                                            <p>
                                                <?php echo $measure->getDescription(); ?>
                                            </p>
                                        </div>
                                        <div class="media" data-measure-id="<?php echo $measure->getId(); ?>">
                                            <?php if ($measure->getImage()): ?>
                                                <div class="media-left media-middle">
                                                    <a href="#">
                                                        <img class="media-object" src="<?php echo $measure->getImageUrl(); ?>" alt="<?php echo $measure->getName(); ?>">
                                                    </a>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>


                </div>
            <?php endif; ?>

        </div>
        <?php endif; ?>
    </div>
</div>

<?php
/* @var $block \Magento\Framework\View\Element\Template */
?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {"bindSubmit": true, "redirectToCatalog": true}
        }
    }
</script>

<script>
    require([
        'jquery'
    ], function($){

        $("#product-addtocart-button:not([disabled])").on('click', function(){
            $(document).ajaxComplete(function(){
                window.parent.updateParentMinicart()
            })
        });

        let mediaGuideItens = jQuery('.size-guide.measuring-guide .measuring-guide-measures .media');

        let measuringGuideItens = jQuery('.size-guide.measuring-guide .product-data-items-content a');

        let content = jQuery('.size-guide.measuring-guide .product-data-items-content .content');

        mediaGuideItens[0].style.display='block';

        measuringGuideItens.click(function() {
            var idGuide = jQuery(this).attr('data-measure-id');

            mediaGuideItens.hide();
            content.hide();
            jQuery('.size-guide.measuring-guide .measuring-guide-measures .media[data-measure-id="'+idGuide+'"]').show();

            jQuery(this).next('.content').show();
        });

        // Product Page custom selects
        if ($(this).find('.product-options-wrapper')) {
            initSelects();
        }

        $(window).load(function () {
            $('div.productImg li').removeClass('loading');
        });
    });
</script>