<?php
/**
 * @var Example\SizeGuide\Block\Adminhtml\Sizeguide\Edit\Tab\SizeTable $block
 */
?>
<div class="admin__field _required">
    <label class="admin__field-label">
        <span data-bind="text: element.label"><?php echo __('Size Table'); ?></span>
    </label>

    <div class="admin__field-control" data-role="grid-wrapper">
        <div class="admin__control-table-wrapper">
            <table class="admin__dynamic-rows admin__control-table" id="size-table" data-role="grid">
                <thead>
                    <tr>
                        <?php foreach ($block->getColumns() as $column): ?>
                        <th><?php echo $column['title']; ?></th>
                        <?php endforeach; ?>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <?php if (!$block->getRows()): ?>
                    <tr class="data-row">
                        <?php foreach ($block->getColumns() as $column): ?>
                        <td>
                            <div class="admin__field" data-index="<?php echo $column['name']; ?>">
                                <label class="admin__field-label" for="<?php echo $column['name']; ?>" style="display: none;">
                                    <span><?php echo $column['title']; ?></span>
                                </label>
                                <div class="admin__field-control">
                                    <input class="admin__control-text" type="text" name="size_table[<?php echo $column['name']; ?>][]" placeholder="" id="<?php echo $column['name']; ?>">
                                </div>
                            </div>
                        </td>
                        <?php endforeach; ?>

                        <td>
                            <button type="button" class="action-delete delete_row" data-table-id="size-table">
                                <span data-bind="text: $parent.deleteButtonLabel"></span>
                            </button>
                        </td>
                    </tr>
                    <?php else: ?>
                    <?php foreach ($block->getRows() as $rows): ?>
                    <tr class="data-row">
                        <?php foreach ($rows as $row): ?>
                        <td>
                            <div class="admin__field" data-index="<?php echo $row['name']; ?>">
                                <label class="admin__field-label" for="<?php echo $row['name']; ?>" style="display: none;">
                                    <span><?php echo $row['title']; ?></span>
                                </label>
                                <div class="admin__field-control">
                                    <input class="admin__control-text" type="text" name="size_table[<?php echo $row['name']; ?>][]" value="<?php echo $row['value']; ?>" placeholder="" id="<?php echo $row['name']; ?>">
                                </div>
                            </div>
                        </td>
                        <?php endforeach; ?>

                        <td>
                            <button type="button" class="action-delete delete_row" data-table-id="size-table">
                                <span data-bind="text: $parent.deleteButtonLabel"></span>
                            </button>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="<?php echo count($block->getColumns()) + 1; ?>">
                            <button type="button" class="add_row" data-table-id="size-table">
                                <span>Adicionar</span>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>